<h3> Add User</h3>
<pre>
  {{myform.value | json}}
  Valid {{myform.valid | json}}
</pre>
{{myform.get('name')?.errors | json}}
<ul *ngIf="!myform.valid && formSubmitted">
  <li *ngIf="myform.controls['name']?.errors?.['minlength']">Name is too short</li>
  <li *ngIf="myform.get('name')?.errors?.['required']">Name is mandatory</li>
</ul>
<form [formGroup]="myform" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div>
    <label for="theusername">User name</label>
    <input formControlName="username" type="text" id="theusername">
  </div>

  <fieldset formGroupName="address" [ngClass]="getFormClass()">
    <legend>Address:</legend>
    <div>
      <label for="theaddressname">Name</label>
      <input formControlName="name" type="text" id="theaddressname">
    </div>
    <div>
      <label for="theaddressstreet">Street Name</label>
      <input formControlName="street" type="text" id="theaddressstreet">
    </div>
  </fieldset>
  <button type="submit">OKAY</button>
</form>
