<h2>Total: {{totalCount}}</h2>
<app-countelem (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem  (out)="receiveValueFromCountElem($event)"></app-countelem>
<app-countelem (out)="receiveValueFromCountElem($event)"></app-countelem>
